
# ignore the settings folder and files for VSCode and PSS
.vscode/*
*.psproj
*TempPoint*

# Ignore staging info from Visual Studio
library/PSDemo/.vs/*
library/PSDemo/PSDemo/bin/*
library/PSDemo/PSDemo/obj/*

# ignore PowerShell Studio MetaData
PSDemo/PSDemo.psproj
PSDemo/PSDemo.psproj.bak
PSDemo/PSDemo.psprojs
PSDemo/PSDemo.psproj
